#app_grid {
    height: 100%;
    width: 100%;
    layout: grid;
    grid-rows: 1fr 3;
}

#main_content {
    height: 100%;
}


Vertical {
    width: 1fr;
    margin: 0 1;
}

#command_panel {
    height: 100%;
}

#visualizer_panel {
    height: 70%;
}

#logs_panel {
    height: 30%;
}

#command_input {
    background: transparent;
    width: 100%;
}

#command_panel, #visualizer_panel, #logs_panel, #command_input{
    border: green;
}